<% drawings.each do |drawing| %>
  <div class="col-md-3">
    <div class="design-background-wrapper">
      <%= drawing_icon drawing %>
      <p><%= link_to drawing.name, drawing_path(drawing) %></p>
    </div>
  </div>
<% end %>
