<% drawings.each do |drawing| %>
  <div class="col-md-3">
    <div class="design-background-wrapper">
      <%= link_to drawing_path(drawing) do %>
        <%= content_tag :span, "Details will be here",:class=>"details" %>
        <%= image_tag drawing.res, :alt => drawing.name, :class=>"img-rounded" %>
      <% end %>
      <div class="design-label"> 
        <span class="design-name"><%= drawing.name%></span> 
        <span class="design-rating icon-Circle"></span> 
      </div>
    </div>
  </div>
<% end %>
