<div class="container drawing-show">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @drawing.name %></h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @drawing.res, :alt => @drawing.name, :class => "img-sharp", :style => "width:100%;" %>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <%= link_to "Get this model", "#{@drawing.origin}", :class => "btn btn-default" %>
    </div>
  </div>
  <div class="drawing-tabs-container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="drawing-tabs">
      <li role="presentation" class="active"><a href="#drawing-desc" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
      <li role="presentation"><a href="#drawing-comm" aria-controls="profile" role="tab" data-toggle="tab">Comments</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="drawing-desc">
        <%= @drawing.description %>  
      </div>
      <div role="tabpanel" class="tab-pane" id="drawing-comm">
        <p>This is on some other shit</p>
      </div>
    </div>
  </div>
</div>
