<div class="container drawing-show">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @drawing.name %></h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @drawing.res, :alt => @drawing.name, :class => "img-rounded", :style => "width:100%;" %>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <h3>Description</h3>
      <%= @drawing.description %>
      <hr>
      <%= link_to "Get this model", "#{@drawing.origin}", :class => "btn btn-default" %>
    </div>
  </div>
  <br><br>
</div>
