<div class="col-md-4 ">
  <div class="design-background-wrapper">
    <%= link_to drawing_path(drawing) do %>
      <%= content_tag :span, "Details will go here", :class => "details" %>
      <%= image_tag drawing.res, :alt => drawing.name, :class=>"img-rounded" %>
    <% end %>
    <span class="design-label"><%= link_to drawing.name, drawing_path(drawing) %></span> 
  </div>
</div>
