<%= render 'layouts/banner' %>
<div class ="trending">
  <div class="container">
    <div class="row ">
      <h2> Today's Popular 3d Models </h2>
    </div>
    <div class="row" id="trending">
      <%= render 'popular'%>
    </div>
  </div>
</div>
<div class="pitch">
  <div class="container">
    <div class="row ">
      <div class="col-md-6">
        <h2>Review a Drawing</h2>
        <p> By connecting talented engineers with a large 
        and diverse consumer market, end users are quickly directed towards suitable, relevant,
        and high-fidelity models for their equiment, along with detailed reviews and guides. </p>
      </div>
      <div class="col-md-6">
        <h2>Browse Models</h2>
        <p> Navigating the many different sites to find the drawing you are looking for can be a daunting
	task. At File-Foundry we seek to stramline the process connecting you with a large directory of drawings
	along with reviews and ratings to help make your project easier. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-default" %> 
      </div>
      <div class="col-md-6">
        <%= link_to "Advanced Search", drawings_path, :class => "btn btn-default" %> 
      </div>
    </div>
  </div>
</div>
