<%= render 'layouts/banner' %>
<div class="container trending">
  <div class="row ">
    <h1> Today's Popular 3d Models </h1>
      
  </div>
  <div class="row">
    <% if @trending.empty? %> 
      <p> No Trending Items Today </p>
    <% else %>
      <% @trending.each do |item| %>
        <%= render 'popular', drawing: item %>
      <% end %> 
    <% end %>

</div>
