/***************************
 * Markup for homepage jumbotron banner
 * and auto search functionality
 **************************/

#home-search{
  //background-image: 
    //url(/assets/GridCover.svg),
    //url(/assets/EngBg.jpg);
}

.drawings-search {
  min-height: 325px;
  background-image:
//    url(/assets/GridCover.svg),
    url(/assets/filaments.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.drawings-search-form {
  padding: 15px;
  width: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  background-color: transparent;//rgba(0,0,0,0.6); 

  .biginput {
    width: 600px;
    height: 35px;
    padding: 0 5px;
    outline: none;
    background: #fff;

    border-color: transparent;
    border-radius: 0px;
  }

  .biginput:focus {
    color: #000;
    outline-color: transparent;
    outline-style: none;
  }
}

.grid-overlay {
  z-index: 2;
  width: 100%;
  height: auto;
  position: absolute;

  display: block;
}
