/* TODO: clean this up and put into proper files */


.navbar-brand{
  padding-left: 1em;
}

.center{
  text-align: center;
}

.form-control{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.form-group{
  text-align: center;
}

.col-md-6{
  padding-top: 2vw;
}

.clickable-block{
  height: 100%
  padding-top:1em;	
}

.container.detailView{
  display:none;
}

.inline{
  display:inline-block;
  background-color: #d3d3d3;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 3em;
  padding-top: 3em;
}

.link-color{
  color: black;
}

.design.container{

  padding-top: 2em;
  padding-bottom:3em;

  margin-left:auto;
  margin-right:auto;
}

.design-background-wrapper{
  box-shadow: 7px 7px 5px #626262;  
  border-radius: 0em 0em 5px 5px; 
}

.design-background-wrapper a{
  padding-top: 0em;
  color: #ffffff;
}

.design-background-wrapper p{
  font-size: 1.5em;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 3em;
  background: #3c3c3c;
  border-radius: 0em 0em 5px 5px; 

}

.design-background-wrapper p:hover{
  text-decoration: none;
  /*background-color:#d3d3d3;*/
}

.design-background-wrapper img{
  border-radius: 5px 5px 0em 0em;
  width: 100%;
  max-height: 197px;
  height: auto;
  position: relative;

}

.design-background-wrapper a:hover{
  text-decoration: none;
 /* background-color: #d3d3d3;*/
}

.design-background-wrapper .details{
  display: none;
  position: absolute;

  background: #3c3c3c;
  color: #ffffff;
  width: 100%;
  min-height: 150px;
  max-height: 197px;
  height: auto;
  border-radius: 5px 5px 0em 0em;

  z-index: 200;
}

a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
  }
}
