// Place all the styles related to the drawings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#drawings-search-form {
  padding: 15px;
  width: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 100px;
  
  .biginput {
    width: 600px;
    height: 30px;
    padding: 0 5px;
    outline: none;
    
     }
}
#drawings-search {
  background-color: #ff4e2c;
  min-height: 400px;
  margin-bottom: 30px;

}
