// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.trending{
  background-color: #f2f2f2;
  min-height: 300px;
  width: 100%;
}

.pitch {
  background-color: #3366ff;
  min-height: 240px;
  color: #ffffff;

  p {
    padding: 10px 0;
  }

  .btn {
    position: absolute;
    right: 80px;
  }
}

#trending {
  padding-top: 5px;
  color: #1c1c1c;
}

#trending > .col-md-15 > a {
  text-align: center;
  line-height: 226px;
  display: block;
  text-decoration: none;
}

.tpage {
  font-size: 3em;
}
