// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.trending{
  background-color: #f2f2f2;
  min-height: 300px;
  width: 100%;
  
  .row{
    padding: 15px;
  }
}
