<div class="jumbotron">
  <div class="container">
    <div id="jumbo-search">
      <form id="jumbo-search-form" action="">
        <input class="biginput" type="text" placeholder="search.."/>
        <div id="jumbo-search-ouput">
        </div>
      </form>
    </div>
  </div>
</div>
