<div class="drawings-search" id="home-search">
  <div class="container">
    <%= form_tag(drawings_path, :method => "get", class: "drawings-search-form") do %> 
      <%= text_field_tag :search, params[:search], placeholder: "search...",
          class: "biginput"  %>
      <div id="jumbo-search-ouput"></div>
    <% end %>
  </div>
</div>
